<div class="container d-block mt-5">
  <div class="col-lg-8 mx-auto">
    <h2 class="title article-title mb-0">お知らせ詳細</h2>
    <div class="show-article-wrap p-5 bg-white">
      <div class="row align-items-center pb-4 mb-4">
        <div class="col-lg-2 px-0 me-0 text-center">
          <p class="my-3 fs-5 fw-bolder">タイトル</p>
        </div>
        <div class="col-lg-10 px-0">
          <p class="fs-5 p-2 border border-2 rounded"><%= @article.title %></p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-2 px-0 text-center">
          <p class="my-3 fs-5 fw-bolder">内容</p>
        </div>
        <div class="col-lg-10 px-0">
          <p class="fs-5 p-3 border border-2 rounded"><%= @article.content %></p>
        </div>
      </div>
      <div class="text-center">
        <%= link_to "一覧ページへ戻る", articles_path, class: "mt-5 mb-3 btn bg-secondary text-light" %>
      </div>
    </div>
  </div>
</div>
