p {
  margin-bottom: 0;
}

textarea {
  resize: none;
}

h1 {
  margin-bottom: 0;
}

.new-article-wrap {
  padding-left: 7rem;
  background-color: #f2f2f2;
}

.bg-gray {
  background-color: #EAEDF1;
}

.article-title{
  display:block;
  text-align: center;
  color:white;
  background-color: #0d6efd;
  padding: 0.75em 0;
  border-radius:5px 5px 0 0;
}
